<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QYZEntity" connectionString="metadata=res://*/CommonModel.csdl|res://*/CommonModel.ssdl|res://*/CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\qyz;initial catalog=QYZ_Common;user id=sa;password=qq123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>